$primary-color: #663398;
$white-color: #fff;
$border-color: #dcdcdc;
$heading-color: #333333;

$themes: (
  light: (
    color-background: #fafafa,
    color-text: #37474f,
    primary-color: #4684f0,
    heading-color: #333333,
  ),
  dark: (
    color-background: #37474f,
    color-text: #fafafa,
    primary-color: #b967f0,
    heading-color: #fff,
  ),
);
